.container h1
{
	background:rgb(230, 204, 255);
	text-align: center;
	//width: 90%;
	border-radius: 3px;
	color: rgb(0, 0, 153);
}
.education
{
	background-color: white;
	text-align: center;
	border:1px solid black ;
}
.education td
{
	padding: 0px 40px 0px;
	border: 1px solid black;
}
.skills td
{
	padding: 0px 40px 0px;
}
.skills h5
{
	color: rgb(77, 136, 255);
}
.my-details td
{
	padding: 10px 60px 10px;
	border: 1px solid black;
}
.faith
{
	text-align: right;
}
